DJANGO_DEBUG=false
DJANGO_SECRET_KEY=change-me-please
DJANGO_ALLOWED_HOSTS=*
TIME_ZONE=Asia/Shanghai

MYSQL_HOST=ddi-mysql
MYSQL_PORT=3306
MYSQL_DATABASE=ddi_system
MYSQL_USER=ddi
MYSQL_PASSWORD=ddi_password
MYSQL_ROOT_PASSWORD=root_password

PDNS_API_URL=http://ddi-pdns:8081
PDNS_API_KEY=ddi-pdns-key
PDNS_FORWARD_ZONES=devnets.net
PUBLIC_DNS_1=223.5.5.5
PUBLIC_DNS_2=119.29.29.29

KEA_API_URL=http://ddi-kea:8000
KEA_LEASE_DB_HOST=ddi-mysql
KEA_LEASE_DB_PORT=3306
KEA_LEASE_DB_NAME=kea
KEA_LEASE_DB_USER=ddi
KEA_LEASE_DB_PASSWORD=ddi_password

CELERY_BROKER_URL=filesystem://
CELERY_RESULT_BACKEND=rpc://
